/* mindenre vonatkozas */
* {
  box-sizing: border-box;
}

/* szebben gordul */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Times New Roman", serif;
  background: #2f4057;
  overflow-x: hidden;
  color: #e8edf5;
}

/* container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

/* fejléc */
h1 {
  font-size: 60px;
  margin: 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 32px;
  }
}

/* grid section */
.drink-columns,
.events-menus,
.menu4-columns{
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  text-align: center;
}

/* mobile grid */
@media (max-width: 900px) {
  .drink-columns,
  .events-menus,
  .menu4-columns {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

/* etel */
.food-banner img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* about */
.about {
  display: flex;
  justify-content: center;
   align-items: center;
  padding: 60px 20px;
}

.about-box {
  max-width: 900px;
  width: 100%;  
  margin: 0 auto; 
  background: #0f2a3b;
  text-align: center;
  padding: 40px 20px;
  border-radius: 30px;
}

/* newsletter */
.newsletter {
  padding: 60px 20px;
  background: #0f2a3b;
  text-align: center;
}

.newsletter-form {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

/* mobil newsletter */
@media (max-width: 900px) {
  .newsletter-form {
    grid-template-columns: 1fr;
  }
}

/* inputs */
.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: none;
  background: #e5e5e5;
  width: 100%;
}

/* gomb */
button {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #ff2e63;
  color: #ff2e63;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

button:hover {
  background: #ff2e63;
  color: white;
}

/* footer */
.footer-top {
  background: #425a6e;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-box {
  padding: 20px 30px;
  border-radius: 20px;
  text-align: center;
}

/* mobile footer */
@media (max-width: 900px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
  }
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

/* mobilos navbar*/
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

/* admin */
.menu-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;       
  margin: 40px 0;  
  flex-wrap: wrap; 
}

.menu-buttons .button {
  display: inline-block;
  padding: 10px 25px;
  background-color: #4f46e5;  
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.menu-buttons .button:hover {
  background-color: #4338ca;  
}

.menu4 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.menu4-title {
  text-align: center;
  margin-bottom: 40px;
}

.events {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.events-title {
  text-align: center;
  margin-bottom: 40px;
}

/* mobil nézet */
@media (max-width: 600px) {
  .menu-buttons {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .menu-buttons .button {
    width: 80%;
    text-align: center;
  }
}